table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #ffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
thead {
    background-color: #007bff;
    color: white;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover {
    background-color: #d6e4ff;
}
th {
    text-align: center;
}
@media (max-width: 768px) {
    table{
        font-size: 14px;
    }
    th, td {
        padding: 8px;
    }
}